__pycache__/
*.pyc
*.egg-info/
dist/
build/
.venv/
.env
templates/**/parameters.json
templates/**/node_modules/
templates/**/cdk.out/
templates/**/package-lock.json
templates/**/.terraform/
templates/**/.terraform.lock.hcl
templates/**/terraform.tfstate*
templates/**/terraform.tfvars
